
.title {
    color: white;
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.5;
    text-align: center;
}

.subtitle {
    font-weight: 200;
}

#monitor-screen {
    background-color:#20232a;
    /* background-color: rgb(19, 14, 34); */
    color: black;
    font-family: 'Poppins',sans-serif;
    margin: 0;
    overflow-x: hidden;
    top: 5vh;
    left: 5vw;
    position: absolute;
    width: 90vw;
    height: 90vh;
    margin: auto;
    overflow-y: auto;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
}

#monitor-screen.black {
    background-color:black;
    visibility: visible;
}

#monitor-screen.black > .screen-container > .title {
    visibility: hidden;
}

.container {
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 0.75; 
}

.screen-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 0.75; 
}


#about-me-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 50vh;
}

.scroll-appear {
    opacity: 0;
    transition: opacity 0.75s ease, transform 0.75s ease; /* Adjust the transition duration and easing as desired */
  }

.scroll-appear.enlarge {
    transform: scale(0.1);
}

.scroll-appear.slide-right {
    transform: translateX(-100px);
}

.scroll-appear.slide-left {
    transform: translateX(100px);
}

.scroll-appear.appear {
    opacity: 1;
    transform: translateX(0);
}

.line{
    background-color: white;
    height: auto;
    width: 3px;
}

.line .experience-container:nth-child(odd) > .experience-card {
    right: 26rem;
}
  
.line .experience-container:nth-child(even) > .experience-card {
    left: 6rem;
}

.line .experience-container:nth-child(odd) > .experience-date {
    left: 3rem;
}
  
.line .experience-container:nth-child(even) > .experience-date {
    right: 18rem;
}

.line .experience-container:nth-child(odd) > .experience-card::before {
    left: 18rem;
  }
  
.line .experience-container:nth-child(even) > .experience-card::before {
    right: 18rem;
}


.experience-date {
    text-align: center;
    display: block;
    position: relative;
    width: 15rem;
    top: 2.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
}

.experience-card {
    background-color: #A76F6F;
    position: relative;
    width: 20rem;
    height: fit-content;
    padding: 1rem 2rem;
    border-width: 0;
    border-bottom: 0.25em solid white;
}

.experience-card::before {
    position: absolute;
    content: "";
    width: 3rem;
    height: 3rem;
    transform: rotate(45deg);
    z-index: -1;
    background-color: inherit;
}

.experience-logo {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 1.9rem;
    top: 5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.2rem solid white;
}

@media only screen and (max-width: 56rem){
	.line .experience-container:nth-child(odd) > .experience-card {
        right: 0rem;
        transform: translateX(-50%);
        margin-top: 4rem;
        width: 70vw;
    }

    .line .experience-container:nth-child(even) > .experience-card {
        left: 0rem;
        transform: translateX(-50%);
        margin-top: 4rem;
        width: 70vw;
    }

    .experience-card::before {
        visibility: hidden;
    }

    .experience-logo {
        top: 1rem;
    }

    .line .experience-container:nth-child(odd) > .experience-date {
        left: 0rem;
        transform: translateX(-50%);
        z-index: 1;
        background-color: #20232a;
        padding: 10px;
        width: 100vw;
        font-size: 3vw;
    }
      
    .line .experience-container:nth-child(even) > .experience-date {
        left: 0rem;
        transform: translateX(-50%);
        z-index: 1;
        background-color: #20232a;
        padding: 10px;
        width: 100vw;
        font-size: 3vw;
    }
}

.experience-company {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 0.2rem;
}

.experience-title {
    margin: 1rem 0rem;
    display: block;
    font-size: 1.1rem;
    font-weight: 100;
}

.experience-description {
    margin-top: 1rem;
    display: block;
    line-height: 1.1;
    font-weight: 200;
    font-size: min(2vw, 1rem);
    letter-spacing: 1.3px;
}

.experience-bullet {
    margin-top: 0.3rem;
    display: block;
}

.experience-container {
    height: auto;
    margin: 3rem 0;
    background-color: inherit;
}

.experience-logo > img {
    object-fit: contain;
    width: 70%;
    height: 70%;
}

/* skill slide show*/

@keyframes slide {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
    }
}

/* .slide:hover .slide-track {
    animation-play-state: paused;
} */

.slide {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}

.slide > img {
    /* background-color: rgb(255, 245, 98); */
    padding: 10px;
    display: inline;
    height: min(15vw, 10rem);
    /* max-height: 75px; */
    width: fit-content;
}

.slide-track {
    display: flex;
    justify-content: space-around;
    gap: 0;
    width: 250vw;
    flex-wrap: nowrap;
    animation: 20s slide infinite linear;
}

.subtitle {
    color: white;
    margin: 10vh;
}



.skills.screen-container {
    height: 105vh;
}

@media only screen and (max-width: 480px) {
    .title {
        font-size: 3.75rem;
    }

    .skills.screen-container {
        height: 115vh;
    }
}